@import "../Color.scss";
.showcase {
  background: url("../../assets/первый\ экран.svg") center / cover no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .container {
    position: relative;
    //   padding-top: 2rem;
    // display: flex;
    // flex-direction: column;
    h1 {
      font-family: "Lora", serif;
      font-weight: 100;
      font-size: 3.5rem;
      width: 80%;
      span {
        position: absolute;
        width: 140px;
        border: 1px solid #fff;
        left: 0;
        height: 1px;
      }
    }
    .show-mid {
      display: flex;
      align-items: center;
      margin: 3rem 0;
      img {
        width: 70px;
      }
      p {
        font-size: 22px;
        margin-left: 25px;
      }
    }
    .show-end {
      position: relative;
      display: inline-block;
      p {
        font-size: 14px;
        margin-bottom: 15px;
      }
      img {
        width: 34px;
        position: absolute;
        right: -20%;
        top: 10%;
      }
    }
    .coment {
        position: absolute;
        
        
      .com {
        position: relative;
        background: $head;
        padding: 18px 32px;
        border-radius: 15px;
        display: inline-block;
        p {
          font-size: 18px;
          display: inline-block;
          vertical-align: middle;
          line-height: 24.51px;
        }
        img {
          // display: inline-block;
          vertical-align: middle;
          // margin-right: -1rem;
          width: 31px;

          position: absolute;
          top: 30%;
          right: -8%;
        }
      }
    }
  }
}
